main {
  background: url(../public/background/bg.png) no-repeat center/cover fixed;
  background-size: 100% 100%;
  color: white;
  height: 100vh;
  width: 100%;
}
<<<<<<< HEAD
.button2{
   
    gap: 10px;
    margin-left: 20px;
}
.button1{
    gap: 10px;
    margin-left: 20px;
}

=======
>>>>>>> main
