main {
  background: url(../public/background/bg.png) no-repeat center/cover fixed;
  background-size: 100% 100%;
  color: white;
  height: 100vh;
  width: 100%;
  position: relative;
}

.downmenu {
  width: 100%;
  height: 100%;
  display: flex;
}

.menubutton {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 61px;
  height: 70px;
  width: 200px;
  color: white;
  font-size: 35px;
  border: none;
  cursor: pointer;
}

.menubutton:hover {
  background: rgba(126, 126, 126, 0.3);
}

.playmenu {
  background: url(../public/background/downmenu.png) no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 55%;
  height: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.jetons {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 61px;
  width: 127px;
  height: 72px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 30px;
}

.player_card {
  border: 3px white solid;
  height: 150px;
  width: 100px;
}

.croupier_card {
  border: 3px white solid;
  height: 150px;
  width: fit-content;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.height_50p100 {
  height: 42%;
}
.height_16p100 {
  height: 16%;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}

.padding-left {
  padding-left: 30%;
}

.score-render {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 61px;
  width: 75px;
  height: 75px;
  font-size: 30px;
}

.padding-x-20p100 {
  padding-left: 20%;
  padding-right: 20%;
}

.gap-2 {
  gap: 2px;
}

.tokens {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 61px;
  height: 70px;
  width: 300px;
  color: white;
  font-size: 30px;
  border: none;
}

.gap-40 {
  gap: 40px;
}

.render-player-status {
  position: absolute;
  top: 27%;
  left: 25%;
  height: 30%;
  width: 50%;
  /* background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px); */
  /* border-radius: 61px;
  color: white;
  font-size: 30px; */
}
